.userReviewAnimate {
    animation: jiggle infinite 2s;
}

.userReviewAnimate:hover {
    transform: scale(110%);
    transition: all 2s;
}

@keyframes jiggle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
